.sidebar{
border:blue solid;
padding-left: 25px;

}

.phone{
    float: left;
width: 20%;
 border: solid darkgray;
margin: 5px;    

}

img{
width: 100%;
}
.button{
display: inline;
color: blue;
    height: 30px;
    margin-top: 10px;
  
}
p{
    font-size: 10px;
   color: darkgrey;
}
.love{
    color:white;
    background-color: blue;
}
.one{
    color: green;
   
}
.two{
    color: red;
    font-size: 12px;
    text-decoration: line-through;
    
}
.clearfix{
    clear: both;
}
.phones{
    width: 50%;
}